#Resume {
  display: block;
  height: 100%;
  width: 100%; }
  #Resume > section > article .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2px; }
  #Resume > section > article .content {
    font-size: 14px;
    line-height: 20px;
    color: #989898; }
  #Resume .center {
    width: 45%;
    height: 100%;
    display: block;
    float: left;
    padding: 180px 10px 10px 170px; }
  #Resume .right {
    width: 25%;
    height: 100%;
    display: block;
    float: left;
    padding: 105px 10px 10px 15px; }
