<!-- Contact View ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<section id="Contact">
	<div class="wrapper navigation">
		<nav class="subnavigation">
			<ul class="links-wrapper">
				<li><a href="#/Contact/About">About</a></li>
				<li><a href="http://www.linkedin.com/pub/mary-m-motta/28/327/701">LinkedIn</a></li>
			</ul>
		</nav>
	</div>
	<div class="wrapper sub-section">
		<div id="BaseContact">
			<div class="contact email">
				<h2>e-mail</h2>
				<a href="mailto:marymmotta@gmail.com?Subject=Portfolio" class="email-link">
					marymmotta@gmail.com
				</a>
			</div>
			<div class="contact phone">
				<h2>phone</h2>
				<a>810.841.8765</a>
			</div>
		</div>
	</div>
</section>