<!-- Resume View ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~  -->
<section id="Resume">
	<div class="wrapper navigation">
		<nav class="subnavigation">
			<ul class="links-wrapper">
				<li><a class="resume-download-link" href="resume.pdf">Resume .pdf file</a></li>
			</ul>
		</nav>
	</div>

	<section class="center">
		<article class="education">
			<h3 class="title">Education</h3>
			<p class="content">
				kendall college of art and design<br>
	            grand rapids, mi<br>
	            may 2011<br>
	            graphic design bachelor of fine arts
			</p>
		</article>
	</section>

	<section class="right">
		<article class="past-experience">
			<h3 class="title">Past Experience</h3>
			<p class="content">
				cu* answers<br>
				august 2012 - present<br>
				gui developer<br>
				<br>
				innerworkings<br>
				march 2011 - may 2012<br>
				graphic designer<br>
				production coordinator<br>
				<br>
				kcad in-house graphic design department<br>
	            may 2011 - sept. 2011<br>
	            student internship<br>
	            <br>
	            dte energy<br>
	            greenwood energy center<br>
	            may 2007 - sept. 2008<br>
	            student co-op
			</p>
		</article>
	</section>
</section>
